body{
  background-color: #333;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  user-select: none;
}

.container{
  max-width: 767px;
  margin: 0 auto;
  padding: 40px 15px;
}

h1{
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 30px;
  line-height: 130%;
  @media (max-width: 500px) {
    font-size: 32px;
  }
}
h3{
  font-size: 24px;
  display: block;
  margin-bottom: 12px;
  @media (max-width: 500px) {
  font-size: 22px;
}
}

small{
  display: block;
  font-size: 16px;
  margin: 10px 0;
  color: red;
}


//select

select{
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  border: none;
  margin-bottom: 30px;
}

// radio

.education {
  margin-bottom: 30px;
  input{
  display: none;
  }
  label{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    line-height: 140%;
    position: relative;

    //Рисуем новые кружки
    &::before{
      content: '';
      align-self: flex-start;
      flex: 0 0 24px;
      height: 24px;
      background-color: #fff;
      border-radius: 50%;
      margin-right: 10px;
    }

    &::after{
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #299b49;
      transition: all 0.3s ease 0s;
      // Скрыт по умолчанию
      transform: scale(0);
    }
  }
  input:checked + label::after{
   transform: scale(1);
  }
}

// checkbox

.language{
  margin-bottom: 30px;
  input{
    display: none;
  }
  label{
    cursor: pointer;
    position: relative;
    font-size: 18px;
    line-height: 150%;
    display: inline-flex;
    align-items: center;

    &::before{
      content: '';
      flex: 0 0 24px;
      height: 24px;
      align-self: flex-start;
      background-color: #fff;
      border-radius: 4px;
      margin-right: 10px;
      margin-top: 4px;
    }
    &::after{
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 8px;
      left: 4px;
      background-color: #299b49;
      border-radius: 4px;
      transform: scale(0);
      transition: all 0.3s ease 0s;
    }
  }
  input:checked + label::after{
    transform: scale(1);
  }
}

// textarea

textarea{
  resize: vertical;
  width: 100%;
  min-height: 100px;
  padding: 20px 20px;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  border: none;
  margin-bottom: 30px;
  &:focus {
    box-shadow: 0 0 15px #29a54b;
    transition: all 0.3s ease 0s;
  }
}

// agree

.data-agree{
  margin-bottom: 40px;
  input{
    display: none;
  }
  label{
    cursor: pointer;
    position: relative;
    font-size: 24px;
    line-height: 140%;
    display: inline-flex;
    align-items: center;
    @media (max-width: 500px) {
      font-size: 22px;
    }

    &::before{
      content: '';
      flex: 0 0 24px;
      height: 24px;
      align-self: flex-start;
      background-color: #fff;
      border-radius: 4px;
      margin-right: 10px;
      margin-top: 4px;
    }
    &::after{
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 8px;
      left: 4px;
      background-color: #299b49;
      border-radius: 4px;
      transform: scale(0);
      transition: all 0.3s ease 0s;
    }
  }
  input:checked + label::after{
    transform: scale(1);
  }
}

// button

button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  background-color: #299b49;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 5px 0 #185f2c;
  position: relative;
  top: 0;
  transition: background-color 0.2s ease 0s;
  &:hover{
    background-color: #207b39;
  }
  &:active{
    top: 3px;
    box-shadow: 0 2px 0 #185f2c;
  }
}